@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 260px);
    padding-right: calc(50% - 260px);
  }

  //cart
  .shopping_cart {
    justify-content: center;
  }

  .cart_content {
    justify-content: center;
    margin-top: 39px;
    margin-bottom: 96px;
  }

  .cart_content-box {
    justify-content: center;
  }

  .form_cart {
    justify-content: center;
    grid-template-columns: repeat(1, 360px);
    gap: 10px;
  }

  .cart_button_box {
    gap: 9px;
    margin-bottom: 48px;
  }

  .cart {
    width: 358px;
    height: 188px;
    margin-bottom: 32px;
  }

  .cart_none {
    padding-bottom: 55px;
  }

  .cart img {
    width: 40%;
    height: 100%;
  }

  .cart_text {
    margin-left: 17px;
    margin-top: 17px;
  }

  .cart_text ul {
    margin-top: 26px;
    font-size: 14px;
    line-height: 17px;
  }

  .cart_text li:last-child {
    gap: 15px;
  }

  .mango {
    font-size: 16px;
    line-height: 19px;
    width: 141px;
  }

  .price {
    font-size: 14px;
    line-height: 17px;
  }

  .quantity {
    width: 23px;
    height: 14px;
    font-size: 10px;
    line-height: 12px;
  }

  .cart_close_btn {
    top: 17px;
    right: 12px;
    width: 9px;
    height: 11px;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .cart_but {
    width: 175px;
    height: 33px;
    text-transform: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #575757;
  }

  @media (max-width: 525px) {
    .center {
      padding-left: 16px;
      padding-right: 16px;
    }

    .basket {
      display: none;
    }
  }
}