* {
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  height: 60px;

  &__basket {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    width: 80px;
    height: 20px;
    text-decoration: none;
    margin: 10px;
  }
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, 170px);
  gap: 10px;

  &__product {
    border: 1px solid;
    padding: 8px;

    &_name {
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      font-size: 15px;
      font-weight: 10px;
      margin: 10px;
    }

    &_but {
      margin: 5px;
      border-radius: 10px;
      width: 80px;
      float: right;
      background-color: rgba(28, 28, 28, 0);
      border: 1px solid black;
      cursor: pointer;
    }
  }
}
