* {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 60px;
  background: #222222;
  margin-bottom: 25px;
}

.header__logo {
  position: absolute;
  top: 20px;
  left: 25px;
  color: white;
}

.header__find {
  position: absolute;
  top: 15px;
  right: 195px;
  background: none;
  border: none;
  height: 30px;
  width: 120px;
  color: white;
}

.header__find_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 15px;
  right: 155px;
  width: 30px;
  height: 30px;
  background: url(image/search.svg) center center no-repeat;
  text-indent: -999px;
  border: none;
  outline: none;
  cursor: pointer;
}

.header__but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  text-decoration: none;
  margin: 10px;
  background-color: white;
  cursor: pointer;
}

.header__but:hover {
  background-color: rgba(28, 28, 28, 0);
  color: white;
}

.header__dropdown {
  right: 5px;
  top: 60px;
  position: absolute;
  min-width: 420px;
  min-height: 200px;
  z-index: 2;
  background-color: white;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__dropdown_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__dropdown_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  max-width: 100%;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  margin: 10px;
}

.header__dropdown_remove-but {
  margin: 10px;
  border-radius: 3px;
  width: 100px;
  height: 25px;
  border: 1px solid white;
  cursor: pointer;
}

.header__dropdown_total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6px;
}

.header__dropdown_number {
  margin: 5px;
}

.products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (170px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 170px);
  gap: 10px;
  padding: 15px;
}

.products__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  padding: 8px;
  background: #222222;
  border-radius: 5px;
}

.products__product_img {
  width: 100%;
}

.products__product_name {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 15px;
  font-weight: 10px;
  margin: 10px;
  color: white;
}

.products__product_but {
  margin: 10px;
  border-radius: 3px;
  width: 100px;
  height: 25px;
  float: right;
  border: 1px solid white;
  cursor: pointer;
}

.products__product_but:hover {
  background-color: rgba(28, 28, 28, 0);
  color: white;
}

.products__product_price {
  text-align: center;
  color: white;
}

.text {
  margin-left: 15px;
}

.text__but {
  margin: 15px;
}
/*# sourceMappingURL=style.css.map */